$carousel-item-width: 60%;
$carousel-item-spacing-hor: 9vw;
$carousel-item-spacing-vert: 10vh;
$item-amount: 3;

.table-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.table-placeholder {
    visibility: hidden;
    width: 80%;
}

.table {
    width: 60%;
    position: absolute;

    @for $i from 1 through $item-amount {
        &:nth-child(#{$i}) {
            z-index: $i;
            left: ($i - 1) * $carousel-item-spacing-hor;
            top: ($i - 1) * $carousel-item-spacing-vert;
        }
    }
}
