// Colors
$vpw-logo-blue: #0e75bc;
$vpw-dark-blue: #082c4c;
$vpw-dark-blue-opaque: rgba(8, 44, 76, 0.7);
$vpw-darker-blue: hsl(208, 81%, 12%);
$vpw-dark-gray: #191315;

$vpw-red-opaque: rgba(222, 76, 76, 0.7);

$vpw-beige: #f1f5f7;
$vpw-beige-opaque: rgba(241, 245, 247, 0.2);

