@use '/src/styles/variables' as var;

$enable-smooth-scroll: false;

@import '~bootstrap/scss/bootstrap';


body {
    background-color: var.$vpw-dark-blue !important;
    color: var.$vpw-beige !important;
    font-family: 'Karla', sans-serif !important;
}

a {
    color: var.$vpw-logo-blue !important;

    &:hover {
        color: var.$vpw-red-opaque !important;
    }
}

em {
    color: var.$vpw-logo-blue;
    font-style: normal;
}

.navbar-toggler {
    border-color: var.$vpw-beige-opaque-text !important;
}

.big-title {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
}

.beige-text {
    color: var.$vpw-beige-opaque-text;
}

.display-text {
    font-size: 1.3em;
}

// Util classes

.vh-70 {
    height: 70vh;
}

.vh-75 {
    height: 75vh;
}

.vh-120 {
    height: 120vh;
}

.vh-min-md-75 {
    min-height: auto;
}

.vh-md-100 {
    height: auto;
}

.mt-10 {
    margin-top: 10rem;
}

.mt-20 {
    margin-top: 20rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.mb-20 {
    margin-bottom: 20rem;
}

.mt-md-10 {
    margin-top: 0;
}

.mt-md-20 {
    margin-top: 0;
}

.mb-md-10 {
    margin-bottom: 0;
}

@include media-breakpoint-down(md) {
    .navbar-collapse {
        transition: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: var.$vpw-dark-blue-opaque;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        line-height: 3em;
    }
}

@include media-breakpoint-up(md) {
    .vh-min-md-75 {
        min-height: 80vh;
    }

    .vh-md-100 {
        height: 100vh !important;
    }

    .mt-md-10 {
        margin-top: 10rem !important;
    }

    .mt-md-20 {
        margin-top: 20rem !important;
    }

    .mb-md-10 {
        margin-bottom: 10rem !important;
    }
}