@use '/src/styles/variables' as var;

body {
  background-color: var.$vpw-dark-blue !important;
  color: var.$vpw-beige !important;
  font-family: 'Karla', sans-serif !important;
}

a {
  color: var.$vpw-logo-blue !important;
}
